.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

body {
  background-image: linear-gradient(45deg, #F98A5B 12%, #CC6CB7 100%);;
  color: rgba(0,0,0,0.729);;
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

main{
  width:80vw;
}

h1{
  text-align: center;
  padding: 2vh 0 2vh 0;
  font-size: 2.5em;
}

#main-wrapper{
  display:flex;
  justify-content: space-around;
}

h2{
  font-weight: normal;
  margin:0.7em 0 0.3em 0;
}

.forms{
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 5px;
  height: 70vh;
  background-color: #e9e6e64f;
}

#form-activity{
  position:relative;
}

food > * {
  margin-bottom: 2vh;
}

.invisible{
  display:none;
}
.visible{
  display: inline;
  font-weight: bold;
}

.search{
  position: relative;
  left: 25%;
  width:50%;
  background-color: #f2f0f0bf;
  fill: rgba(0,0,0,0.302);
  flex-grow: 0;
  flex-shrink: 0;
  height:6vh;
  min-width: 16px;
  letter-spacing: 0.025rem;
  font-weight: 600;
  border: 0;
  text-align: center;
  border-radius: 5px;
  font-size: 1.1em;
}

#weight-wrapper{
  position: absolute;
  bottom: 0;
  left:5%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}

.select{
  padding:10px;
  font-weight: 400;
  font-size: 0.8em;
  border-radius: 3px;
}

input::placeholder{
  color: rgba(0, 0, 0, 0.61);
  font-weight: 400;
  font-size: 1em;
}

#match-list{
  width:90%;
  padding-top: 30px;
}

#match-list-activity, #match-list-food{
  padding-top: 5vh;
}

.search-results{
  background-color: hsl(27deg 4% 16% / 34%);
  color: #e7e2e2;
  margin-bottom: 5px;
  margin: 0 5px 5px 5px;
  padding: 4px;
  font-size: 1.1em;
  cursor: pointer;
}

#food-wrapper{
  display: flex;
  flex-direction: column;
}

#weight{
  margin-left: 20px;
  height: 20px;
}

.fields{
  height:20px;
}

#results-wrapper{
  display: flex;
  justify-content: center;
  font-size: 1.4em;
}

.span-results-default{
  text-decoration: underline;
}

.span-results-filled{
  text-decoration:none;
  font-size: 1.1em;
  font-weight: bold;
}